<div id="main">
    <div class="container my-3">

        <!-- Work Experience -->
        <div class="d-flex row mb-5">
            <div class="col-md-3">
                <h2 class="text-uppercase">Work </br> Experiences</h2>
            </div>

            <div class="d-none d-md-flex col-md-1 justify-content-center">
                <div class="vr"></div>
            </div>

            <div class="col-md-8">
                <div class="d-flex">
                    <ul class="list-group">

                        {{#each milestone}}
                            {{#if (theTypeWE cvType)}}
                                <li class="list-unstyled pb-4">
                                    <p class="m-0 text-black-50 small custom_fw-light">{{cvDate}}</p>
                                    <p class="m-0 text-uppercase mb-2 custom_bold-headline">{{cvFieldOfWork}}</p>
                                    <p class="m-0"><img src="/img/geo.svg" class="pe-1">{{cvPlace}}</p>
                                    <p class="m-0 custom_italic">{{cvDesc}}</p>

                                    {{#if ../isAdmin}}
                                        <a href="/aboutme/update/{{cvid}}" class="btn btn-outline-success btn-sm me-2 my-2" role="button" aria-pressed="true">Update milestone</a>
                                        <a href="/aboutme/delete/{{cvid}}" class="btn btn-outline-danger btn-sm me-2 my-2" role="button" aria-pressed="true">Delete milestone</a>
                                    {{/if}}

                                </li>
                            {{/if}}
                        {{/each}}
        
                    </ul>
                </div>



            </div>
        </div>
        <!-- Work Experience -->






        <!-- Education -->
        <div class="d-flex row mb-5">
            <div class="col-md-3">
                <h2 class="text-uppercase">Education</h2>
            </div>

            <div class="d-none d-md-flex col-md-1 justify-content-center">
                <div class="vr"></div>
            </div>

            <div class="col-md-8">
                <div class="d-flex">
                    <ul class="list-group">

                        {{#each milestone}}
                            {{#if (theTypeE cvType)}}
                                <li class="list-unstyled pb-4">
                                    <p class="m-0 text-black-50 small custom_fw-light">{{cvDate}}</p>
                                    <p class="m-0 text-uppercase mb-2 custom_bold-headline">{{cvFieldOfWork}}</p>
                                    <p class="m-0"><img src="/img/geo.svg" class="pe-1">{{cvPlace}}</p>
                                    <p class="m-0 custom_italic">{{cvDesc}}</p>
                                    
                                    {{#if ../isAdmin}}
                                        <a href="/aboutme/update/{{cvid}}" class="btn btn-outline-success btn-sm me-2 my-2" role="button" aria-pressed="true">Update milestone</a>
                                        <a href="/aboutme/delete/{{cvid}}" class="btn btn-outline-danger btn-sm me-2 my-2" role="button" aria-pressed="true">Delete milestone</a>
                                    {{/if}}
                                    
                                </li>
                            {{/if}}
                        {{/each}}

                        {{#if isAdmin}}
                            <a href="/aboutme/add" class="d-inline list-unstyled text-decoration-none text-black-50 pb-4">
                                <div class="d-flex justify-content-center align-items-center border px-3">
                                    <p class="m-0 pe-2 py-2 custom_bold-headline">+</p>
                                    <p class="m-0 text-uppercase custom_bold-headline">Add a new Milestone</p>
                                </div>
                            </a>
                        {{/if}}
                        
                    </ul>
                </div>



            </div>
        </div>
        <!-- Education -->


    </div>
</div>
