<div id="main">



    <!-- HERO -->
    <div class="custom_header custom_bg-color">

        <div class="video-background-content container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100">
                    <img height="180px" src="/img/Titelanimation_klein.gif">
                    <h1 class="display-4 text-uppercase m-0 custom_bold-headline">Portfolio</h1>
                    <p class="lead mb-0">by Lea Müller</p>
                </div>
            </div>
        </div>

    </div>
    <!-- HERO -->






    <!-- CARDBOARD GROUP -->    
    <div class="container py-4">

        {{#if dbError}}
            <div>
                Sorry, there was a problem with the database:<br />
                {{theError}}
            </div>
        {{else}}

            <div class="row row-cols-1 row-cols-md-3 g-4">

                {{#each projects}}
                    <div class="col">
                        <a class="card text-decoration-none text-center border-0 rounded-0" href="/{{projectid}}">

                            <img src="/img/{{projectImgURL}}" class="card-img-top rounded-0 custom_project-card" alt="{{projectImgURL}}">

                            <div class="card-body">
                                <h5 class="card-title text-uppercase">{{projectTitle}}</h5>
                                <p class="card-text text-black-50">{{categoryName}}</p>
                            </div>
                        </a>
                    </div>
                {{/each}}

                {{#if isAdmin}}
                    <div class="col d-flex align-items-center justify-content-center">
                        <a href="/project/new" class="card text-decoration-none text-center border-0 rounded-0">

                            <div class="d-flex justify-content-center">
                                <p class="m-0 border px-3 py-2 custom_bold-headline">+</p>
                            </div>

                            <p class="d-flex mt-2">Add a new Project</p>

                        </a>
                    </div>
                {{/if}}

            </div>
        {{/if}}


    </div>
    <!-- CARDBOARD GROUP -->


</div>
