<div id="main">
    <div class="container">

        {{#each project}}
            <div class="row">

                <div class="col-md-5">
                    <img src="/img/{{projectImgURL}}" class="card-img-top rounded-0 custom_project-card" alt="{{projectImgURL}}">
                </div>

                <div class="col-md-7">

                    <div class="mb-5">
                        <p class="card-text my-2 text-black-50">{{categoryName}}</p>
                        <h5 class="card-title text-uppercase custom_bold-headline custom_underlined-text">{{projectTitle}}</h5>
                    </div>

                    <p class="my-2">{{projectDesc}}</p>
                    <p class="text-muted custom_fs-small">{{projectDate}}</p>

                    {{#if ../isAdmin}}
                        <div class="d-flex">
                            <a href="/{{projectid}}/update" class="btn btn-outline-success btn-sm me-2" role="button" aria-pressed="true">Update</a>
                            <a href="/{{projectid}}/delete" class="btn btn-outline-danger btn-sm me-2" role="button" aria-pressed="true">Delete</a>
                        </div>
                    {{/if}}
                </div>
                
            </div>
            

        {{/each}}

    </div>
</div>