<div id="main">

    {{#if isLoggedIn}}


        {{#if isAdmin}}
            <div class="container col-md-6 col-lg-4 my-5 px-4">

                <form action="/{{project.projectid}}/update" method="post">

                    <h1 class="h3 my-4 fw-normal text-uppercase custom_bold-headline">Update {{project.Projecttitle}}</h1>

                    <div class="form-floating mb-4">
                        <input class="form-control" name="newprot" id="newprot" value="{{project.projectTitle}}" required="required">
                        <label for="newprot">Project title</label>
                    </div>

                    <div class="col-12 mb-4">
                        <label for="newprodesc" class="form-label">Project describtion</label>
                        <textarea class="form-control" name="newprodesc" id="newprodesc" rows="8" required="required">{{project.projectDesc}}</textarea>
                    </div>

                    <div class="col-12 mb-4">
                        <label for="newprocategory" class="form-label">Project category</label>
                        <select name="newprocategory" id="newprocategory" required="required">
                            <option value="1" {{#if (theTypeA project.categoryfk)}} selected="selected" {{/if}}>3D Production</option>
                            <option value="2" {{#if (theTypeB project.categoryfk)}} selected="selected" {{/if}}>Animation</option>
                            <option value="3" {{#if (theTypeC project.categoryfk)}} selected="selected" {{/if}}>UX-/UI Design</option>
                            <option value="4" {{#if (theTypeD project.categoryfk)}} selected="selected" {{/if}}>Branding</option>
                            <option value="5" {{#if (theTypeE project.categoryfk)}} selected="selected" {{/if}}>Editorial Design</option>
                            <option value="6" {{#if (theTypeF project.categoryfk)}} selected="selected" {{/if}}>Film</option>
                            <option value="7" {{#if (theTypeG project.categoryfk)}} selected="selected" {{/if}}>Photography</option>
                            <option value="8" {{#if (theTypeH project.categoryfk)}} selected="selected" {{/if}}>Graphic Design</option>
                        </select>
                    </div>

                    <div class="form-floating mb-4">
                        <input class="form-control" name="newprodate" id="newprodate" value="{{project.projectDate}}" required="required">
                        <label for="newprodate">Project Date (YYYY-MM)</label>
                    </div>

                    <div class="form-floating mb-4">
                        <input class="form-control" name="newproimgURL" id="newproimgURL" placeholder="public/img/..." value="{{project.projectImgURL}}" required="required">
                        <label for="newproimgURL">Project Image URL</label>
                    </div>

                    <button class="btn btn-primary w-100 py-2 mb-4 custom_button" type="submit">Update project</button>

                </form>

            </div>
        {{else}}
            <p>Sorry, you must be an Admin to update a new project!</p>
        {{/if}}


    {{else}}
        <p>
            Sorry, you must be logged in to update a project.<br>
            Please go to the <a href="/login">Login</a>page.
        </p>
    {{/if}}

</div>